body {

}
.container-fluid{

}
.main-header{

}
.main-header ul li a{


}

.main-header ul li a::after{
    content:'';
    display:block;
    width:100%;
    background: red ;
    height:1px;
    transform: scale(0);

}
.main-header ul li a:hover::after{
    transform: scale(1);
}
.comp{
    text:red;
}